@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "bootstrap-social";

body {
    padding-top: 80px;
}

.navbar, .navbar * {
    font-weight: bold;
}
.avatar {
    margin: 0px;
    margin-top: 15px;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 80px;
    height: 80px;
    padding-top: 0;
}
.navbar-nav li p {
    line-height: 80px;
    height: 80px;
    padding-top: 10px;
    margin: 0;
}
@media only screen and (max-width : 1200px){
   /* Hiding elements for this device  */
      .navbar-nav li p {
         display: none;
      }
 }

.navbar-nav form button {
    margin-top: 15px;
}

div.media-body {
    font-weight: normal;
}

.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 10px;
    margin-bottom: 10px;
}

.strike > span {
    position: relative;
    display: inline-block;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: #ddd;
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}

#wingcanvas {
    background-image: url("/img/green_graphy.png");
}

.tooltip-wrapper {
    display:inline-block;
}
